
header {
    grid-area: header;
    background-color: brown;
}
#userSection {
    grid-area: main;
    background-color: aqua;
}
#classSection {
    grid-area: sidebar;
    background-color: lavender;
}
footer {
    grid-area: footer;
    background-color: blueviolet;
}
  
.container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header"
      "sidebar main"
      "footer footer";
}