body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#fab {
    background-color: #800000;
    bottom: 10px;
    color: #FFFFFF;
    position: fixed;
    right: 10px;
    z-index: 999;
}

#fab:active {
    opacity: 0.8;
    transform: translateY(2px);
}

.card {
    margin: 10px 0;
}

#homePage .card-title,
#homePage .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.dropdown-menu-right {
    left: -128px;
}

#roseLogo {
    max-width: 350px;
    margin: 20px auto;
    display: block;
}

#rosefireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background-color: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: #800000;
    color: white;
}

.bmd-layout-drawer>ul {
    background-color: #DDDDDD;
}

.home-group-item :first-child {
    margin-right: 0.75rem;
}

#menuEdit,
#menuDelete {
    display: none;
}

.home-group-item {
    cursor: pointer;
}

#submitName {
    background-color: #800000;
    color: white;
}

#authorBox {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 999;
 }
 
 #detailPage #profilePhoto {
    display: block;
    max-width: 150px;
    max-height: 200px;
 }
 
 body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "header"
      "main"
      "footer";
    min-height: 100vh;
    margin: 0;
}

.term {
    display: flex;
    flex-direction: column;
}

.class{
    background-color: white;
    padding: 3em;
    margin: 1px;
}

.circular{
    height:100px;
    width: 100px;
    position: relative;  
    border:solid white 1px;
}

.circular .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: white;
    border-radius: 100%;
}

.circular .number{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:10;
    font-size:18px;
    font-weight:500;
    color:black;
}

.circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: #800000;
}

.circle .left .progress{
    z-index:1;
    animation: left 4s linear both;
  }
  @keyframes left{
    100%{
      transform: rotate(180deg);
    }
  }
  .circle .right {
    transform: rotate(180deg);
    z-index:3;
   
  }
  .circle .right .progress{
    animation: right 4s linear both;
    animation-delay:4s;
  }
  @keyframes right{
    100%{
      transform: rotate(180deg);
    }
  }